/***********
The following styles are solely used to clean up standard Mercury options, will be communicated to UFIT
***********/

/* prevent long ig posts from corrupting social banner's layout in mobile */
span.social-text {
    height: 400px;
    overflow: hidden;
}

/* clean up button with underline style */
.is-style-animated-underline .wp-block-button__link {
    border-left: none !important;
    border-right: none !important;
}
.fullwidth-text-block .wp-block-button__link:hover {
	text-decoration: none !important;
}
.wp-block-button.is-style-animated-underline {
    padding-right: 50px;
}
/* remove weird paragraph from above the livewhale feed block */
p.wp-block-create-block-livewhale-events-block {
    display: none;
}



/***********
The following styles are solely used to style items for CLAS additional Templates plugin and custom patterns
***********/

/* Make the WP standard details block visually pleasing */
.wp-block-details[open] {
    border: none;
    padding-bottom: 30px;
}   

.wp-block-details summary {
    background: #fff;
    padding: 0;
    margin: 0;
    list-style-position: outside;
}

.wp-block-details > * {
    margin: 0;
    margin-block-start: 1.5rem;
}

.wp-block-details summary strong, .wp-block-details summary  {
	font-weight: 700;
	font-family: gentonalight;
position: relative;
}

.wp-block-details summary::marker {
    content: '';
}

.wp-block-details summary::-webkit-details-marker {
    color: transparent;
    width: 0;
}

.wp-block-details summary::after {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMy40NTMgMy40NTMgMTYgMTYiPjxsaW5lIHkyPSIyMi45MDYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExLjQ1MykiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzgwODA4MCIgc3Ryb2tlLXdpZHRoPSIxIi8+PGxpbmUgeTI9IjIyLjkwNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjIuOTA2IDExLjQ1Mykgcm90YXRlKDkwKSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjODA4MDgwIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=");
    display: inline-block;
	position: relative;
	top: 3px;
	left: 8px;
	height:23px;
	width: 23px;
	padding: 2px
}

.wp-block-details[open] summary::marker {
    content: '';
}
 
.wp-block-details[open] summary::after {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMy40NTMgMCAxNiAxIj48bGluZSB5Mj0iMjIuOTA2IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMi45MDYgMC41KSByb3RhdGUoOTApIiBmaWxsPSJub25lIiBzdHJva2U9IiM4MDgwODAiIHN0cm9rZS13aWR0aD0iMSIvPjwvc3ZnPg==");
    display: inline-block;
	position: relative;
	top: 3px;
	left: 8px;
	height:23px;
	width: 23px;
	padding: 2px

}

/* style the custom pattern "Two highlighted posts" */

.remove-bullets {
    padding: 0 2rem !important;
    column-gap: 6rem;
}

.remove-bullets li:before {
    content: '' !important;
}

.remove-bullets li, ul.remove-bullets li > div {
    padding: 0 !important;
}
.wp-block-query ul.max-width {
    max-width: 1300px;
    margin: 0 auto;
}
.remove-bullets:has(li:only-child) {
    max-width: 800px;grid-template-columns: revert;
}
.remove-bullets img.attachment-post-thumbnail {
    aspect-ratio: 3 / 4;
}
.post-thumbnail img {
    max-width: 100%;
    height: auto;
}

/* hides email address on the custom pattern "Faculty Bio block sans email" */

.remove-email .faculty-email {
	display: none;
}

/* Yoast breadcrumbs for posts and categories */

nav.breadcrumb-wrapper #breadcrumbs span {
    font-size: 16px;
    line-height: 24px;
    color: #fa4616;
    font-family: 'gentonamedium';
}

nav.breadcrumb-wrapper #breadcrumbs span a {
    color: #000;
    text-decoration: none;
    font-family: "gentonalight";
}

nav.breadcrumb-wrapper #breadcrumbs span.breadcrumb_last, nav.breadcrumb-wrapper #breadcrumbs span.breadcrumb_last strong {
  font-family: 'gentonamedium';
    font-weight: normal;
    color: #000;
}

nav.breadcrumb-wrapper #breadcrumbs {
    padding: 10px 0;
}


/* stack all table cells for tables with class of "responsive" added */
@media (max-width: 768px) {
    
    figure.wp-block-table.is-style-regular.responsive td {
        width: 100% !important;
    }
    
    figure.wp-block-table.is-style-regular.responsive table tr {
        display: flex;
        flex-wrap: wrap;
    }
}

/* smaller thumbnails on galleries for galleries with a class of "five-across" added */
@media (min-width: 1050px) {
    .five-across .image-gallery .carousel .carousel-inner .col-image-gallery {
        width: calc(20% - 26px);
    }
}

/* special events styling for use with the custom widget developed within Livewhale */
ul.homepage-events.thumb-right {
    padding-left: 0 !important;
}
ul.homepage-events.thumb-right li {
    padding-bottom: 2rem;
}
ul.homepage-events.infinite-upcoming.thumb-right li code {
    font-size: small;
}
ul.homepage-events.thumb-right span.lw_item_thumb {
    float: right;
}

/* special footer styling for social icons with class of "switch-to-blue" added, plus a couple extras */

.switch-to-blue .ufl-social-column div a {
    background-color: rgba(255, 255, 255, 0.2) !important;!i;!;
}

.switch-to-blue .ufl-social-column div a svg,
.switch-to-blue .ufl-social-column div a img {
    filter: brightness(0) invert(1);
}

.switch-to-blue .ufl-social-column div a:hover {
    background-color: rgba(255, 255, 255, 0.8) !important;!i;!;
}

.switch-to-blue .ufl-social-column div a:hover svg,
.switch-to-blue .ufl-social-column div a:hover img {
    filter: none;
}

.widget_block > span { /* for the "Connect with" html text next to socials */
    margin-top: 14px;
    display: inline-block;
    color: #f4f6f6;
    text-decoration: none;
    font-size: 21px;
    font-family: "gentonalight";
    padding-right: 10px;
}

.footer-col-social { /* moving the social column left */
    justify-content: start !important;
}

.footer_widget p { /* spacing between links */
    margin-bottom: 10px !important;
}

